<script>
	import Link from '../components/link.svelte';
	import TruncatedTags from '../components/truncatedTags.svelte';
    import { page } from '$app/stores';
	import { goto } from '$app/navigation';

	/** @type {import('./$types').PageData} */
	export let data;

	const query = $page.url.searchParams.get('q')

	/**
	 * @type {HTMLInputElement}
	 */
	let searchbar;
	function focusSearchBar() {
		searchbar.focus();
	}
	function search() {
		let params = $page.url.searchParams
		params.set('q', searchbar.value)
		goto(`?${params.toString()}`, {invalidateAll: true})
	}

	function clearQuery() {
		searchbar.value = ""
		let params = $page.url.searchParams
		params.delete('q')
		goto(`?${params.toString()}`, {invalidateAll: true})
	}
</script>

<!-- The searchbar is focused when key is pressed to avoid jankies of the autofocus paramter but still provide good ux -->
<svelte:window on:keydown={focusSearchBar}/>

<main>
	<div>
		{data.meta.Description} <br>
		Amount of links collected: {data.meta.Link_amount}
	</div>

	<div class="searchRow">
		<form on:submit|preventDefault={search}>
			<input bind:this={searchbar} class="search" name="q" type="text" value={query} placeholder="Search">
		</form>
		<button class="clear" on:click={clearQuery}>clear</button>
	</div>

	{#if data.meta}
		<TruncatedTags tags={data.meta.Tags} light clearButton showMore/>
	{/if}

	<div class="links">
		{#if data.links}
			{#each data.links as link}
				<Link link={link}/>
			{/each}
		{:else}
			<div>Nothing found</div>
		{/if}
	</div>
</main>

<style>
	main {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		padding: 2rem;
		color: var(--light1);
	}

	.searchRow {
		display: flex;
		flex-direction: row;
	}
	.searchRow form {
		width: min(99%, 25rem);
		margin-right: 1.5rem;
	}
	.search {
		border: none;
		outline: none;

		color: var(--dark2);

		background-color: var(--light1);
		padding: .5rem;

		width: 100%;
	}

	.links {
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}
</style>