<script>
	export let url = "";
</script>

<a href={`/link/${url}`}>
	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
		<rect width="34.924" height="34.924" x="256" y="95.998"/>
		<path d="M16,496H496V16H16ZM48,48H464V464H48Z"/>
		<path d="M285.313,359.032a18.123,18.123,0,0,1-15.6,8.966,18.061,18.061,0,0,1-17.327-23.157l35.67-121.277A49.577,49.577,0,0,0,194.7,190.572l-11.718,28.234,29.557,12.266,11.718-28.235a17.577,17.577,0,0,1,33.1,11.7l-35.67,121.277A50.061,50.061,0,0,0,269.709,400a50.227,50.227,0,0,0,43.25-24.853l15.1-25.913-27.646-16.115Z"/>
	</svg>
</a>

<style>
	svg {
		width: 26px;

		filter: drop-shadow(0px 0px 0px var(--dark2));
		transition: 50ms;
		fill: var(--dark2);
	}
	svg:hover {
		filter: drop-shadow(2px 2px 3px var(--dark2));
		fill: var(--dark1);
	}
</style>