<script>
	import Info from "../components/info.svelte";
	import TruncatedTags from "./truncatedTags.svelte";

	/**
	 * @type {{ Url: string; Name: string; Tags: any; Curator_description: string; Description: string; Instance_url: string; }}
	 */
	export let link;
</script>

<a href={link.Url} class="link" target="_blank" rel="noopener noreferrer">
	<div class="nameRow">
		<span>{link.Name}</span>
		<Info url={link.Url}/>
	</div>
	<div class="url">{link.Url}</div>

	<div class="tagsHolder">
		{#key link}
		<TruncatedTags tags={link.Tags}/>
		{/key}
	</div>
	
	{#if link.Curator_description}
		<div class="curator">{link.Curator_description}</div>
	{/if}
	<div>{link.Description}</div>
</a>

<style>
	.link {
		display: flex;
		flex-direction: column;

		background-color: var(--light1);

		box-sizing: border-box;

		padding: 1rem;
		/* padding-right: 5rem; */
		min-width: min(99%, 25rem);
		width: fit-content;
		max-width: 55rem;

		color: var(--dark2);
		text-decoration: none;

		transition: 100ms;
	}
	.link:hover {
		box-shadow: 1px 7px 12px var(--light1);
	}

	.nameRow {
		font-size: 1.3rem;
		font-weight: bold;

		display: flex;
	}
	.nameRow span {
		padding-right: 2rem;
		margin-right: auto;
	}

	.link:hover .url {
		text-decoration: underline;
	}

	.tagsHolder {
		margin-top: .7rem;
		margin-bottom: .7rem;
	}

	.curator {
		margin-bottom: .5rem;
	}

</style>