<script>
	import { goto } from "$app/navigation";
    import { page } from '$app/stores';


	/**
	 * @type {{ Name: any; }}
	 */
	 export let tag;
	 /**
	 * @type {boolean}
	 */
	export let light;

	function filterByTag() {
		let params = $page.url.searchParams;
		const tags = params.get('tags');

		if (tags != null && tagSelected) {
			params.set('tags', tags?.replace(`${tag.Name},`,""));
		}
		else if (tags != null) {
			params.set('tags', `${tags}${tag.Name},`);
		}
		else {
			params.set('tags', `${tag.Name},`);
		}

		goto(`/?${params.toString()}`, {invalidateAll: true});
	}

	/**
	 * @param {URLSearchParams} params
	 */
	function checkTagSelected(params) {
		const tags = params.get('tags');
		return tags?.includes(tag.Name);
	}
	$: tagSelected = checkTagSelected($page.url.searchParams);
</script>

<button class="{light == true ? 'light tag' : 'tag'}" on:click|preventDefault={filterByTag}>
	{tag.Name}
	{#if tagSelected} <div class="selectedCircle"></div> {/if}
</button>

<style>
	.tag {
		background-color: var(--dark2);
		color: var(--light1);

		padding: .5rem;
		border: none;

		font-family: monospace;

		/* Make selectedCircle appear in the corner of this box instead of the body */
		position: relative;
	}
	.light {
		background-color: var(--light1);
		color: var(--dark2);
	}
	.tag:hover {
		text-decoration: underline;
	}

	.selectedCircle {
		position: absolute;
		top: -2px;
		right: -2px;

		border-radius: 50%;

		width: 10px;
		height: 10px;
		background-color: var(--dark1);
	}
	.light .selectedCircle {
		background-color: var(--light2);
	}
</style>