<script>
	import Tag from "./tag.svelte"
    import { page } from '$app/stores';
	import { goto } from '$app/navigation';

	export let tags;
	export let light = false;
	export let clearButton = false;
	export let showMore = false;

	let firstTags = tags.slice(0, 4);
	/**
	 * @type {null|[]}
	 */
	let moreTags;
	if (firstTags.length < tags.length) {
		moreTags = tags.slice(4)
	}

	function clearTags() {
		let params = $page.url.searchParams
		params.delete('tags')
		goto(`?${params.toString()}`, {invalidateAll: true})
	}
</script>

{#if moreTags != null && showMore}
<details>
	<summary>
		<div class="tags">
			{#each firstTags as tag}
				<Tag tag={tag} {light}/>
			{/each}
			{#if clearButton}
				<button class="clear" on:click={clearTags}>clear</button>
			{/if}
		</div>
	</summary>
	<div class="tags">
		{#each moreTags as tag}
			<Tag tag={tag} {light}/>
		{/each}
	</div>
</details>
{:else}
<div class="tags">
	{#each firstTags as tag}
		<Tag tag={tag} {light}/>
	{/each}
	{#if clearButton}
		<button class="clear" on:click={clearTags}>clear</button>
	{/if}
</div>
{/if}

<style>
	details summary { 
		margin-bottom: .5rem;
		list-style-position: outside;
	}
	.tags {
		display: inline-flex;
		flex-wrap: wrap;
		gap: .5rem;
	}

	:global(.clear) {
		font-size: .75rem;
		height: .75rem;
	}
	:global(.clear:hover) {
		text-decoration: underline;
	}
</style>