:root {
	--dark1: rgb(7, 5, 17);
	--dark2: rgb(16, 12, 37);
	--light1: pink;
	--light2: rgb(216, 160, 170);
}

body {
	font-family: Arial, Arial, Helvetica, sans-serif;
	padding: 0;
	margin: 0;
	background-color: var(--dark1);
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}