<script>
	import Tag from "../../../components/tag.svelte";


	/** @type {import('./$types').PageData} */
	export let data;

	let link = data.link;
</script>

<main>
	<button on:click={() => history.back()}> ← back</button>
	<h1>{link.Name}</h1>
	<table>
		<tr>
			<td class="propertyTitle">URL</td>
			<td><a class="textBox" href={link.Url}>{link.Url}</a></td>
		</tr>
		<tr>
			<td class="propertyTitle">Instance</td>
			<td><a class="textBox" href={link.Instance_url}>{link.Instance_url}</a></td>
		</tr>
		<tr>
			<td class="propertyTitle">Tags</td>
			<td class="tags">
				{#each link.Tags as tag}
					<Tag tag={tag} light={false}/>
				{/each}
			</td>
		</tr>
		<tr>
			<td class="propertyTitle">Description</td>
			<td class="textBox">
				{#if link.Description}
					{link.Description}
				{:else}
					This item doesn't have a description.
				{/if}
			</td>
		</tr>
		<tr>
			<td class="propertyTitle">Curator description</td>
			<td class="textBox">
				{#if link.Curator_description}
					{link.Curator_description}
				{:else}
					This item doesn't have a curator description.
				{/if}
			</td>
		</tr>
	</table>
</main>

<style>
	main {
		background-color: var(--light1);
		color: var(--dark1);
		padding: 1rem;

		width: 60rem;
		max-width: 100%;
		margin: auto;

		box-sizing: border-box;

		font-size: 1.04rem;
	}
	table {
		width: 100%;
		border-spacing: .3rem;
	}
	tr, td {
		margin: 0;
		padding: 0;
	}

	@media (max-width: 560px) {
		table {
			display: flex;
			flex-direction: column;
			gap: 1rem;
		}
		tr {
			display: flex;
			flex-direction: column;
			gap: .2rem;
		}
	}

	.propertyTitle {
		font-size: 1.2rem;
		font-weight: 500;
		padding-right: 4rem;
	}

	.textBox {
		display: block;
		padding: .5rem;
		margin: 0px;

		box-sizing: border-box;

		width: 100%;

		background-color: var(--dark2);
		color: var(--light1);

		text-decoration: none;
		font-family: monospace;
	}
	a:hover, button:hover {
		text-decoration: underline;
	}

	.tags {
		display: flex;
		gap: .3rem;
		flex-wrap: wrap;
		padding: 0;
		margin: 0;
	}
</style>